In [ ]:
import pandas as pd
import numpy as np
import zipfile
import os

In [2]:
#Unzip the downloaded file into a data folder name 
baseUrl = '/Users/kehindeelelu/Documents/Code/CapitalOne'
def unzip_file(zip_file, extract_to):
    with zipfile.ZipFile(zip_file, 'r') as zip_ref:
        zip_ref.extractall(extract_to)

# Specify the path to your zip file and where you want to extract it
zip_file = f'{baseUrl}/transactions.zip'
extract_to = f'{baseUrl}/data'

unzip_file(zip_file, extract_to)

In [3]:
df = pd.read_json('/Users/kehindeelelu/Documents/Code/CapitalOne/data/transactions.txt', lines=True)
# Display the first few rows of the DataFrame
df.head()

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000,5000.0,2016-08-13T14:27:32,98.55,Uber,US,US,02,...,,0.0,,,,False,,,False,False
1,737265056,737265056,5000,5000.0,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,...,,0.0,,,,True,,,False,False
2,737265056,737265056,5000,5000.0,2016-11-08T09:18:39,7.47,Play Store,US,US,09,...,,0.0,,,,False,,,False,False
3,737265056,737265056,5000,5000.0,2016-12-10T02:14:50,7.47,Play Store,US,US,09,...,,0.0,,,,False,,,False,False
4,830329091,830329091,5000,5000.0,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,...,,0.0,,,,True,,,False,False

In [4]:
# Check if all columns contain empty strings
all_empty_strings = df.apply(lambda col: col.astype(str).str.strip().eq('')).all()

In [5]:
# Print the result (showing first 15 columns separately for readability)
print("All columns contain empty strings (First 15 columns):")
print(all_empty_strings[:15])

All columns contain empty strings (First 15 columns):
accountNumber              False
customerId                 False
creditLimit                False
availableMoney             False
transactionDateTime        False
transactionAmount          False
merchantName               False
acqCountry                 False
merchantCountryCode        False
posEntryMode               False
posConditionCode           False
merchantCategoryCode       False
currentExpDate             False
accountOpenDate            False
dateOfLastAddressChange    False
dtype: bool

In [6]:
print("All columns contain empty strings (From 16th column onwards):")
print(all_empty_strings[15:])

All columns contain empty strings (From 16th column onwards):
cardCVV                     False
enteredCVV                  False
cardLast4Digits             False
transactionType             False
echoBuffer                   True
currentBalance              False
merchantCity                 True
merchantState                True
merchantZip                  True
cardPresent                 False
posOnPremises                True
recurringAuthInd             True
expirationDateKeyInMatch    False
isFraud                     False
dtype: bool

In [7]:
# Replace all empty strings with NAN
df.replace('', np.nan, inplace=True)

/var/folders/m8/ss8240rn1_n5_crd6h3q40zc0000gn/T/ipykernel_44936/3277964683.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('', np.nan, inplace=True)

In [8]:
# Display the first few rows of the DataFrame
df.head()

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000,5000.0,2016-08-13T14:27:32,98.55,Uber,US,US,02,...,NaN,0.0,NaN,NaN,NaN,False,NaN,NaN,False,False
1,737265056,737265056,5000,5000.0,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,...,NaN,0.0,NaN,NaN,NaN,True,NaN,NaN,False,False
2,737265056,737265056,5000,5000.0,2016-11-08T09:18:39,7.47,Play Store,US,US,09,...,NaN,0.0,NaN,NaN,NaN,False,NaN,NaN,False,False
3,737265056,737265056,5000,5000.0,2016-12-10T02:14:50,7.47,Play Store,US,US,09,...,NaN,0.0,NaN,NaN,NaN,False,NaN,NaN,False,False
4,830329091,830329091,5000,5000.0,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,...,NaN,0.0,NaN,NaN,NaN,True,NaN,NaN,False,False

In [9]:
# Save DataFrame as a pickle file for faster loading
pd.to_pickle(df, 'data/dataset/transactions.pkl', protocol=4)